main{
    display: grid;
    grid-template-columns: 1fr 2fr 2fr 1fr 1fr;
}

header{
    height: 30vh;
}

header,nav,footer{
    grid-column: 2/5;
}

nav{
    grid-row: 2/3;
}

section{
    grid-row: 3/4;
    grid-column: 2/4;

}

aside{
    grid-row: 3/4;
    grid-column: 4/5;
}
