@media screen and  (min-width: 0px) and (max-width: 499px){

    img{
        display: none;
    }

    aside{
        grid-row: 5/6;
    }
    section h1{
        font-size: 2rem;
        padding: 8px;
        font-family: coolvetica-rg;
        color: grey;
        background: wheat;
        border-radius: 10px;
        display: inline-block;
        margin-bottom: 10px;
        border: grey solid 2px;
    }
}
@media screen and (min-width: 500px) and (max-width: 1399px){

    footer{
        grid-row: 7/8;
    }
    footer{

    }
    section{
        grid-column: 2/4;
        grid-row: 3/7;
    }
    aside{

    }
    section h1{
        font-size: 2rem;
        padding: 8px;
        font-family: coolvetica-rg;
        color: grey;
        background: wheat;
        border-radius: 10px;
        display: inline-block;
        margin-bottom: 10px;
        border: grey solid 4px;
    }
}
@media screen and (min-width: 1400px){
    header,nav,footer{
        grid-column: 2/5;
    }
    footer{
        margin-top: 10px;
    }
    section{
        grid-column: 2/4;
        margin-top: 10px;
        margin-right: 10px;
    }
    aside{
        margin-top: 10px;
        grid-column: 4/5;
        grid-row: 3/5;
    }

    section h1{
        font-size: 2rem;
        padding: 8px;
        font-family: coolvetica-rg;
        color: grey;
        background: wheat;
        border-radius: 10px;
        display: inline-block;
        margin-bottom: 10px;
        border: grey solid 4px;
    }
}



