@font-face {
    font-family: Computerfont;
    src: url("../fonts/Computerfont.ttf");
}

@font-face {
    font-family: digital-7 regular font;
    src: url("../fonts/digital-7 (italic).ttf");
}

@font-face {
    font-family: coolvetica-rg;
    src: url("../fonts/coolvetica-rg.ttf");
}