body{
    background-image: url("../img/full-bloom.png");
}

aside{
    padding: 20px;
}

header{
    background: repeat grey scroll url("../img/diagonal-squares.png")  ;
    padding: 20px;
}
#head{

}

main section{
  padding: 20px
}

main section article {
    background: wheat;
    padding: 10px;
    border-radius: 10px;
    opacity: 1;
}

.leer-mas{
    background: wheat;
    border-radius: 10px;
    color: darkslateblue;
    font-weight: bold;
    opacity: 1;
}
.leer-mas a{
    text-decoration: none;
}

.layout:not(header){
    opacity: 0.7;
    padding: 15px;
    border-radius: 10px;
    background: lightgrey;
}

img{
    width: 10vw;
    opacity: 100;
}