@media screen and  (min-width: 0px) and (max-width: 499px){
    #grid{
        display: grid;
        grid-template-columns: 1fr;
    }
    section{
        display: flex;
        flex-flow: row wrap;
        align-items: center;
        margin-top: 10px;
        margin-right: 10px;
    }
    main,nav,footer{

    }


    img{
        width: 50vw;
    }

    main section:nth-of-type(2n+1){

    }

    main section:nth-of-type(2n){

    }

    footer{

    }

    nav{

    }

    aside{

    }

    header{


    }

    section h5:nth-of-type(1){

    }

    section img{

    }

    section div{


    }
}
@media screen and (min-width: 500px) and (max-width: 1399px){
    #grid{
        display: grid;
        grid-template-columns: 1fr 4fr 1fr;
    }
    section{
        display: flex;
        flex-flow: row wrap;
        align-items: center;

        margin-top: 10px;
        margin-right: 10px;
    }

    img{
        width: 10vw;
    }

    aside{
        margin: 10px;
    }

    footer{
        margin: 10px 10px 10px 0;
    }

    nav{
        margin-right: 10px;

        grid-row: 3/4;
    }


    .section{
        grid-column: 2/4;
    }
    aside{
        grid-column: 1/2;
        grid-row: 5/8;
    }
    header{
        grid-column: 1/4;
    }
    footer{
        grid-column: 2/4;
    }
    section h5:nth-of-type(1){
        flex: 1 0 600px;
    }

    section img{
        flex: 0 1 30vw;
    }

    section div{
        padding: 5px;
        flex: 1 0 100px;
    }
}
@media screen and (min-width: 1400px){
    #grid{
        display: grid;
        grid-template-columns:1fr 2fr 2fr 1fr 1fr;
    }
    section{
        display: flex;
        flex-flow: row wrap;
        align-items: center;
        min-height: 500px;
        margin-top: 10px;
        margin-right: 10px;
    }

    main,nav,footer{
        grid-column: 1/-1;
    }



    main section:nth-of-type(2n+1){
        grid-column: 2/3;
    }

    main section:nth-of-type(2n){
        grid-column: 3/4;
    }

    footer{
        margin: 10px 0 10px 0;
        grid-column: 2/5;
    }

    nav{
        grid-column: 2/5;
    }

    aside{
        margin-top: 10px;
        grid-column: 4/5;
        grid-row: 3/6;
    }

    header{

        grid-column: 2/5;
    }

    section h5:nth-of-type(1){
        flex: 1 0 209px;
    }

    section img{
        flex: 0 1 15vw;
    }

    img{
        width: 10vw;
    }
    section div{
        padding: 5px;
        flex: 1 0 100px;
    }
}
