@media screen and  (min-width: 0px) and (max-width: 499px){
    section{
        display: flex;
        flex-flow: row wrap;
        align-items: center;
        height: 500px;
        margin: 5px 10px 5px 10px;
    }

    img{
        width: 10vw;
    }
    section h3:nth-of-type(1){
        flex: 1 0 200px;
    }

    section img{
        flex: 0 1 50vw;
    }

    section div{
        padding: 5px;
        flex: 0 1 100px;
    }
}
@media screen and (min-width: 500px) and (max-width: 1399px){

    section{
        display: flex;
        flex-flow: row wrap;
        align-items: center;

        height: 450px;
        margin-top: 10px;
        margin-right: 10px;
    }

    .section{
        grid-column: 2/4;
    }

    section h5:nth-of-type(1){
        flex: 1 0 300px;
    }

    section img{
        flex: 0 1 20vw;
    }

    section div{
        padding: 5px;
        flex: 1 0 100px;
    }
}
@media screen and (min-width: 1400px){

    section{
        display: flex;
        flex-flow: row wrap;
        align-items: center;

        min-height: 60vh;
        margin-top: 10px;
        margin-right: 10px;
    }

    main section:nth-of-type(2n+1){
        grid-column: 2/3;
    }

    main section:nth-of-type(2n){
        grid-column: 3/4;
    }

    section h5:nth-of-type(1){
        flex: 1 0 209px;
    }

    section img{
        flex: 0 1 15vw;
    }

    img{
        width: 10vw;
    }
    section div{
        padding: 5px;
        flex: 1 0 100px;
    }
}
