#grid{
    display: grid;
    grid-template-columns:1fr 2fr 2fr 1fr 1fr;
}
section{
    display: flex;
    flex-flow: row wrap;
    align-items: center;
    min-height: 400px;
}

main,nav,footer{
    grid-column: 1/-1;
}

section{
    margin-top: 10px;
    margin-right: 10px;
}

main section:nth-of-type(2n+1){
    grid-column: 2/3;
}

main section:nth-of-type(2n){
    grid-column: 3/4;
}

footer{
    margin: 10px 0 10px 0;
    grid-column: 2/5;
}

nav{
    grid-column: 2/5;
}

aside{
    margin-top: 10px;
    grid-column: 4/5;
    grid-row: 3/6;
}

header{

    grid-column: 2/5;
}

section h5:nth-of-type(1){
    flex: 1 0 209px;
}

section img{
    flex: 0 1 15vw;
}

section div{
    padding: 5px;
    flex: 1 0 100px;
}