@media screen and  (min-width: 0px) and (max-width: 499px){
    #menu {
        display: flex;
        flex-flow: column wrap;
        justify-content: space-around;
        align-items: center;
        padding: 20px;
        background: lightgrey;
        border-bottom-left-radius: 10px;
        border-bottom-right-radius: 10px;
        height: 200px;
        margin-bottom: 5px;
    }

    #menu a:hover {
        border: solid 1px grey;
        border-radius: 10px;
        background: wheat;
        color: grey;
        text-align: center;
        padding: 10px 11px;
        text-decoration: none;
    }

    #menu a {
        font-size: 2rem;
        font-family: Computerfont;
        border: solid 1px wheat;
        border-radius: 10px;
        background: grey;
        color: wheat;
        text-align: center;
        padding: 10px 11px;
        text-decoration: none;
    }


}


@media screen and (min-width: 500px) and (max-width: 1399px){
    #menu {
        display: flex;
        flex-flow: row wrap;
        justify-content: space-around;
        align-items: center;
        padding: 20px;
        background: lightgrey;
        border-bottom-left-radius: 10px;
        border-bottom-right-radius: 10px;
    }

    #menu a:hover {
        border: solid 1px grey;
        border-radius: 10px;
        background: wheat;
        color: grey;
        text-align: center;
        padding: 10px 11px;
        text-decoration: none;
    }

    #menu a {
        font-size: 2rem;
        font-family: Computerfont;
        border: solid 1px wheat;
        border-radius: 10px;
        background: grey;
        color: wheat;
        text-align: center;
        padding: 10px 11px;
        text-decoration: none;
    }


}

@media screen and (min-width: 1400px) {
    #menu {
        display: flex;
        flex-flow:  wrap;
        justify-content: space-around;
        align-items: center;
        z-index: 1;
        position: sticky;
        top: 0;
        padding: 20px;
        background: lightgrey;
        border-bottom-left-radius: 10px;
        border-bottom-right-radius: 10px;
    }

    #menu a:hover {
        border: solid 1px grey;
        border-radius: 10px;
        background: wheat;
        color: grey;
        text-align: center;
        padding: 10px 11px;
        text-decoration: none;
    }

    #menu a {

        font-size: 2rem;
        font-family: Computerfont;
        border: solid 1px wheat;
        border-radius: 10px;
        background: grey;
        color: wheat;
        text-align: center;
        padding: 10px 11px;
        text-decoration: none;
    }
}