body{
    background-image: url("../img/full-bloom.png");
}

aside{
    padding: 20px;
}

header{
    background: repeat grey scroll url("../img/diagonal-squares.png")  ;
    padding: 20px;
    height: 30vh;
}
#head{

}

main section{
  padding: 20px
}

main section article {
    background: wheat;
    padding: 10px;
    border-radius: 10px;
}

#logo{
    display: inline-block;
    border-radius: 10px;
    background: wheat;
    padding: 20px;
}
#logo h1{
    display: inline-block;
    background: grey;
    border-radius: 10px;
    padding: 10px;
    color: wheat;
    font-family: Computerfont;
}

.leer-mas{
    width: 100%;
    background: wheat;
    border-radius: 10px;
    color: grey;


}
section a{
    color: grey;
    display: block;
    font-family: coolvetica-rg;
    text-decoration: none;
}
 section a:hover{
     text-decoration: underline;
 }
.style:not(header){

    padding: 15px;
    border-radius: 10px;
    background: lightgrey;
}

article p{
    color: grey;
    margin-top: 2px;
    margin-bottom: 5px;
    font-size: 1.2rem;
    font-family: coolvetica-rg;
}

.section h1,h3{
    font-size: 2rem;
    padding: 8px;
    font-family: coolvetica-rg;
    color: grey;
    background: wheat;
    border-radius: 10px;
    display: inline-block;
}

img{
    width: 10vw;
}
aside li ul{
    display: none;
    margin-left: 20px;
}


aside ul li:nth-of-type(2):hover ul{
    display: block;
}
/*
aside ul li:nth-of-type(2):hover ul li{

    display: block;
}
*/
aside ul{
    background: grey;
    border-radius: 10px;
    padding: 10px;
    list-style: none;
}

aside li a{
    font-family: coolvetica-rg;
    color: grey;
    text-decoration: none;
    font-size: 1.5em;
}

aside li ul li a{
    font-size: 1em;
}
aside li{
    margin-top: 6px;
    border-radius: 10px;
    background: wheat;
    padding: 10px;
}

aside li a:hover {
    text-decoration: underline;
}